.message-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: #f5f5f5;
  box-shadow: 0px 30px 41px 0px #00000024;
}

.message-top .avatar {
  height: 35px;
  width: 35px;
  border-radius: 20px;
}

.message-top h2 {
  margin: 0;
  font-size: 20px;
  margin-left: 15px;
}

.message-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.message {
  margin: 2px 10px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: fit-content;
}

.message .date {
  font-size: 0.6rem;
  padding-bottom: 5px;
}

.msg-left {
  padding-right: 50px;
  display: flex;
  justify-content: flex-start;
}

.msg-right {
  padding-left: 50px;
  display: flex;
  justify-content: flex-end;
}

.msg-left .message {
  background: #ededed;
}

.msg-right .message {
  background: #3a37cc;
  color: #ffffff;
}

.chat-section {
  height: calc(700px - 180px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chat-form {
  margin: 10px;
  width: 100%;
}

.chat-form .chat-entry {
  box-sizing: border-box;
  padding: 7.5px;
  border: 2px solid #e6e6e6;
  width: 70%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
}

.chat-form .chat-send {
  padding: 9.5px;
  box-sizing: border-box;
  border: none;
  width: 25%;
  background: #3a37cc;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
